@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-position: center top;
  /* 背景画像を繰り返さないようにする */
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 10rem;
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  text-align: center;
  padding-bottom: 8%;
  color: black;
}

main {
  display: block;;
}