* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-position: center top;
  /* 背景画像を繰り返さないようにする */
  background-repeat: no-repeat;
  position: relative;
}

.header-title {
  font-size: 10rem;
  position: absolute;
  top: 30%;
  left: 27%;
  color: black;
}

.nav-container {
  display: flex;

}



main {
  display: block;;
}

nav {
  justify-content: space-between;
  padding: 20px 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  
}